build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
classes/
.metadata
.settings
*.launch
.architectury-transformer
.envrc
.env*
.env
.ignored
.kotlin
native/src/generated/resources
native/rust/target
.kotlin
.settings
